In [1]:
import pandas as pd

In [2]:
# CSV data from https://www.data.gouv.fr/fr/datasets/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2019/

# PDF data description here for 2019 : https://www.data.gouv.fr/fr/datasets/r/6cade01c-f69d-4779-b0a4-20606069888f
# PDF data description here for 2005-2108 : https://www.data.gouv.fr/fr/datasets/r/8d4df329-bbbb-434c-9f1f-596d78ad529f

data_sources = [ 
    (
        'année',
        'caracteristiques',
        'lieux',
        'véhicules',
        'usagers',
        'separateur',
        'decimal',
        'encoding'
    ),
    (
        2019,
        'https://www.data.gouv.fr/fr/datasets/r/e22ba475-45a3-46ac-a0f7-9ca9ed1e283a',
        'https://www.data.gouv.fr/fr/datasets/r/2ad65965-36a1-4452-9c08-61a6c874e3e6',
        'https://www.data.gouv.fr/fr/datasets/r/780cd335-5048-4bd6-a841-105b44eb2667',
        'https://www.data.gouv.fr/fr/datasets/r/36b1b7b3-84b4-4901-9163-59ae8a9e3028',
        ';',
        ',',
        'utf-8',
        
    ),
    (
        2018,
        'https://www.data.gouv.fr/fr/datasets/r/6eee0852-cbd7-447e-bd70-37c433029405',
        'https://www.data.gouv.fr/fr/datasets/r/d9d65ca1-16a3-4ea3-b7c8-2412c92b69d9',
        'https://www.data.gouv.fr/fr/datasets/r/b4aaeede-1a80-4d76-8f97-543dad479167',
        'https://www.data.gouv.fr/fr/datasets/r/72b251e1-d5e1-4c46-a1c2-c65f1b26549a',
        ',',
        '.',
        'latin_1'
    ),
    (
        2017,
        'https://www.data.gouv.fr/fr/datasets/r/9a7d408b-dd72-4959-ae7d-c854ec505354',
        'https://www.data.gouv.fr/fr/datasets/r/9b76a7b6-3eef-4864-b2da-1834417e305c',
        'https://www.data.gouv.fr/fr/datasets/r/d6103d0c-6db5-466f-b724-91cbea521533',
        'https://www.data.gouv.fr/fr/datasets/r/07bfe612-0ad9-48ef-92d3-f5466f8465fe',
        ',',
        '.',
        'latin_1'
    ),
    (
        2016,
        'https://www.data.gouv.fr/fr/datasets/r/96aadc9f-0b55-4e9a-a70e-c627ed97e6f7',
        'https://www.data.gouv.fr/fr/datasets/r/08b77510-39c4-4761-bf02-19457264790f',
        'https://www.data.gouv.fr/fr/datasets/r/be2191a6-a7cd-446f-a9fc-8d698688eb9e',
        'https://www.data.gouv.fr/fr/datasets/r/e4c6f4fe-7c68-4a1d-9bb6-b0f1f5d45526',
        ',',
        '.',
        'latin_1'
    ),
    (
        2015,
        'https://www.data.gouv.fr/fr/datasets/r/185fbdc7-d4c5-4522-888e-ac9550718f71',
        'https://www.data.gouv.fr/fr/datasets/r/31db21ef-4328-4c5e-bf3d-66a8fe82e6a2',
        'https://www.data.gouv.fr/fr/datasets/r/3420157e-7d23-4832-a710-a3a2f2df909c',
        'https://www.data.gouv.fr/fr/datasets/r/3420157e-7d23-4832-a710-a3a2f2df909c',
        ',',
        '.',
        'latin_1'
    )
    
]

In [20]:
from os.path import exists

dfs={}
for year_data in data_sources[1:]:
    year = year_data[0]
    print(f"download year={year}")
    dfs_y = {}
    for i in range(1,5):
        key = data_sources[0][i]
        print(f" data base '{key}'")
        filename = f'df_{year}_{key}.ftr'
        if exists(filename):
            print(f'load local {filename}')
            dfs_y[key] = pd.read_feather(filename)
        else:
            dfs_y[key]= pd.read_csv(
                year_data[1],
                sep=year_data[5],
                decimal=year_data[6],
                encoding=year_data[7]
            )
            # save dataframe in feather format because :
            # https://towardsdatascience.com/the-best-format-to-save-pandas-data-414dca023e0d
            print(f'save local {filename}')
            dfs_y[key].to_feather(filename)
    dfs[year] = dfs_y

download year=2019
 data base 'caracteristiques'
load local df_2019_caracteristiques.ftr
 data base 'lieux'
load local df_2019_lieux.ftr
 data base 'véhicules'
load local df_2019_véhicules.ftr
 data base 'usagers'
load local df_2019_usagers.ftr
download year=2018
 data base 'caracteristiques'
save local df_2018_caracteristiques.ftr
 data base 'lieux'
load local df_2018_lieux.ftr
 data base 'véhicules'
load local df_2018_véhicules.ftr
 data base 'usagers'
load local df_2018_usagers.ftr
download year=2017
 data base 'caracteristiques'
load local df_2017_caracteristiques.ftr
 data base 'lieux'
load local df_2017_lieux.ftr
 data base 'véhicules'
load local df_2017_véhicules.ftr
 data base 'usagers'
load local df_2017_usagers.ftr
download year=2016
 data base 'caracteristiques'
load local df_2016_caracteristiques.ftr
 data base 'lieux'
load local df_2016_lieux.ftr
 data base 'véhicules'
load local df_2016_véhicules.ftr
 data base 'usagers'
load local df_2016_usagers.ftr
download year=2015
 data base 'caracteristiques'
load local df_2015_caracteristiques.ftr
 data base 'lieux'
load local df_2015_lieux.ftr
 data base 'véhicules'
load local df_2015_véhicules.ftr
 data base 'usagers'
load local df_2015_usagers.ftr

In [34]:
(dfs[2018]['caracteristiques']['lat'][0]/100000,dfs[2018]['caracteristiques']['long'][0]/100000)

(50.55737, 2.94992)

In [31]:
dfs[2018]['caracteristiques']

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201800000001,18,1,24,1505,1,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
1,201800000002,18,2,12,1015,1,2,7,7.0,7.0,11,Place du général de Gaul,M,5052936.0,293151.0,590
2,201800000003,18,3,4,1135,1,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590
3,201800000004,18,5,5,1735,1,2,1,7.0,3.0,52,30 rue Jules Guesde,M,5051974.0,289123.0,590
4,201800000005,18,6,26,1605,1,2,1,1.0,3.0,477,72 rue Victor Hugo,M,5051607.0,290605.0,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57778,201800057779,18,12,15,1050,1,2,1,1.0,6.0,611,passamanty-Sada ( rue de,Y,1280217.0,4521356.0,976
57779,201800057780,18,12,16,610,2,2,1,1.0,3.0,611,mamoudzou centre-Command,Y,1278120.0,4523436.0,976
57780,201800057781,18,12,22,2150,5,2,1,1.0,6.0,611,kaweni-SPPM ( rue de la,Y,1276930.0,4522409.0,976
57781,201800057782,18,12,23,1945,5,2,1,1.0,1.0,611,cavani-Kavani sud ( rue,Y,1278622.0,4522036.0,976
57782,201800057783,18,12,28,1425,1,2,1,1.0,1.0,611,m'tsapere-Nationale 2 (r,Y,1278943.0,4522408.0,976

In [21]:
dfs[2019]['caracteristiques']

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,48.896210,2.470120
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,48.930700,2.368800
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,48.935872,2.319174
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,48.817329,2.428150
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,48.776362,2.433254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,45.666660,5.056120
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,48.576900,7.726900
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,48.771700,2.345760
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,48.777289,2.223759
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,48.835124,2.175110